:root {
    --bg: #000000;
    --fg: #777777;
    --orange: #d17e25;
    --light: #999;
}

@font-face {
    font-family: Terminus;
    src: url(fonts/TerminessNerdFontMono-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Terminus, monospace;
}

@media screen and (min-width: 480px) {
    header {
        width: 600px;
    }
    main {
        width: 600px;
    }
}

header {
    margin-top: 6em;
    max-width: 600px;
}

#title {
    font-size: 5em;
    font-style: italic;
    margin-bottom: 1rem;
    transition: all 100ms;
}

#title a {
    text-decoration: none;
}

#lambda {
    font-size: 0.9em;
}

#blog-title {
    text-align: center;
    margin-bottom: 20px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    border: none;
}

main {
    font-size: 1.3em;
    padding: 20px;
    max-width: 600px;
    border: 1px solid var(--fg);
}

b {
    color: var(--light);
}

a {
    color: var(--light);
    font-style: italic;
}
li {
    transition: all 0.2ms;
    line-height: 1.2;
}
ul {
    list-style-position: inside;
}

#blog-list li {
    list-style-type: none;
    line-height: 1.5;
}

#blog-list li a {
    font-style: normal;
    text-decoration: none;
}

#blog-list li a:hover {
    text-decoration: underline;
}

#blog-list span {
    padding-right: 40px;
}

a:hover,
li:has(a:hover) a,
li:has(a:hover)::marker,
li:hover,
li:has(:hover) a,
li:has(a:hover) span,
main:has(#blog-title:hover) #blog-title,
body:has(#title:hover) a,
body:has(#title:hover) #blog-title,
body:has(#title:hover) b,
header:has(span:hover) #title,
header:has(#title:hover),
header:has(#title:hover) span {
    color: var(--orange);
}
