#posts-box {
    grid-area: posts;
    /* min-width: 500px; */
}

@media screen and (max-width: 500px) {
    #title {
        font-size: 4em;
    }

    #posts-box {
        max-width: 500px;
    }

    main {
        grid-template-areas: 
            "main"
            "links"
            "posts"
            "now"
            "learn"
            "about";
        grid-template-columns: 1fr;
    }
}

#links-box {
    grid-area: links;
}

#now-box {
    grid-area: now;
}

#main-box {
    grid-area: main;
    max-width: 600px;
}

#about-box {
    grid-area: about;
    margin-top: 20px;
}

#learn-box {
    grid-area: learn;
}
