---
import Aside from "../components/Aside.astro";
import Header from "../components/Header.astro";
import Head from "../components/Head.astro";
import "../styles/global.css";
---

<html>
    <Head customTitle="lambda - guides"/>
    <body>
        <Header />

        <main>
            <Aside />
            <div id="posts-box" class="box">
                <span class="box-title">teaching</span>
                <p>uma das coisas que eu mais gosto de fazer é ensinar, aqui gostaria de ensinar algumas coisas, focando principalmente em coisas mais introdutórias.</p>
                <br>

                <ul>
                    <li><a href="/guides/mpd">Mpd</a> um simples guia para começar a user o music player daemon.</li>
               </ul>
            </div>
        </main>
    </body>
</html>
