---

---

<aside id="side">
     <nav>
        <button><a href="/index.html">main</a></button>
        <button><a href="/posts.html">posts</a></button>
        <button><a href="/guides.html">guides</a></button>
        <button><a href="/links.html">links</a></button>
        <button><a href="/now.html">now</a></button>
        <button><a href="/almanac.html">almanac</a></button>
        <button id="theme-toggle">theme</button>
        <button><a href="https://github.com/devEducaua/deveducaua.github.io" target="_blank">source</a></button>
    <nav>
</aside>
