---

---

<aside id="side">
     <nav>
        <button><a href="/">main</a></button>
        <button><a href="/posts">posts</a></button>
        <button><a href="/guides">guides</a></button>
        <button><a href="/links">links</a></button>
        <button><a href="/now">now</a></button>
        <button><a href="/almanac">almanac</a></button>
        <button id="theme-toggle">theme</button>
        <button><a href="https://github.com/devEducaua/deveducaua.github.io" target="_blank">source</a></button>
    <nav>
</aside>
