---
let { customTitle } = Astro.props;

if (!customTitle) customTitle = "lambda";

---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/lambda.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{customTitle}</title>
    <base href="https://deveducaua.github.io/www/">
</head>
